/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('woff');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Black.ttf) format('woff');
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Italic.ttf) format('woff');
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('woff');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf) format('woff');
    font-style: italic;
    font-weight: 700;
  }

body {
font-family: "roboto";
font-style: normal;
margin: 0px;
background-color: #ffff;
}

:root {
    --blurple: #4363d8;
    --dark-grey: #202225;
    --med-gray: #2f3136;
    --grey: #36393f;
}

nav {
    background-color: var(--blurple);
    height: 70px;
    width: 100%;
    display: flex;
}

.nav-links {
    width: 100%;
}

.nav-link {
    line-height: 70px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}



.profile-link {
    line-height: 70px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 25px;
    float: right;
    text-decoration: none;
    color: white;
}

.sec1-background {
  background-image: url('image/space.png');
  background-position: center;
  background-size: cover; 
}

.sec1 {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5865f298;
  backdrop-filter: blur(10px);
}

.sec1-h1 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  text-align: center;
}

.sec1-btn {
  border: none;
  height: 35px;
  width: 100px;
  background-color: #ffff;
  border-radius: 4px;
  cursor: pointer;
  line-height: 35px;
  color: var(--font);
  text-align: center;
  text-decoration: none;
  font-size: 18px;

}

.sec1-btn:hover {
  background-color: rgb(214, 209, 209);
}

.sec2 {
  display: block;
  height: 300px;
  margin-top: 120px;
  margin-bottom: 50px;
}

.sec2-center {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 810px;
  color: var(--font);
}

.sec2-h1 {
  font-size: 34.3px;
}

.sec2-desc {
  width: 350px;
  font-size: 22px;
  color: var(--font)
}

.sec2-img {
  border-radius: 6px;
}

.sec2-left {
  margin-right: 10px;
}

.sec2-right {
  margin-left: 10px;
}

.sec3 {
  margin-top: 100px;
  background-color: #f6f6f6;
  height: 500px;
}

.sec3-center {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 810px;
  padding-top: 110px;
}

.sec3-right {
  margin-left: 10px;
}

.sec3-left {
  margin-right: 10px;
}

.sec3-h1 {
  font-size: 34.3px;
  color: var(--font);
}

.sec3-desc {
  color: var(--font);
  width: 350px;
  font-size: 22px;
}

.sec3-img {
  border-radius: 6px;
  width: 420px;
}

.profiles {
  padding-left: 150px;
  width: calc(100% - 150px);
}

.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto auto auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.profile-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-radius: 5px;
  border-color: #333;
  
}

.profile {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffff;
  color: #333;
  box-shadow: 28px 28px 50px #0d275033, -23px -23px 50px #0d27502c;
}

.profile-pfp {
  height: 100px;
  border-radius: 50%;
}

.pname {
  font-size: 20px;
  margin: 40px;
  margin-left: auto;
}

.country {
  margin-left: 5px;
  margin-right: 5px;
}

.age {
  margin-left: 5px;
  margin-right: 5px;
}

.profile-specs {
  display: flex;
  flex-direction: row;
}

sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  background-color: var(--med-gray);
  height: 100%;
}

.filter {
  width: 140px;
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

.filter:hover .filter-check  {
  color: #4363d8;
  display: flex;
}

.filter-check {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: calc(100% - 10px);
}

.filter-txt {
  color: white;
  font-size: 15px;
  margin: 0px;
}

.checkbox {
  margin-left: auto;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border-top: 5px solid var(--grey);
}

.age {
  display: flex;
  flex-direction: row;
}

.age-input {
  width: 35px;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #202225;
  color: white;
  font: "Roboto";
  font-size: 18px;
}

.age-text {
  color: white;
  font-size: 20px;
}

.support-top {
  color: white;
  background-color: #202225;
  margin: 0px;
  width: 100%;
  height: 200px;
}

.top-h1 {
  text-align: center;
  margin: 0px;
}


body::-webkit-scrollbar {
  width: 1em;
  background-color: #ffffff00;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #4363d8;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(94, 91, 91);
  outline: 1px solid slategrey;
  border-radius: 5px;
}